<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">UltraNamo @Github</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img
    alt="Ultranamo"
    src="./assets/images/namo/541138.jpg"
    style="
      border-radius: 50%;
      padding: 2em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20em;
    "
  />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hi, guys my name is Namo.</ion-card-title>
      <ion-card-subtitle
        >I really love to play the Roblox game and my hobbies are
        ...</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ul>
            <li style="list-style-type: circle">Drawing</li>
            <li style="list-style-type: circle">Lego</li>
            <li style="list-style-type: circle">Martial art</li>
            <li style="list-style-type: circle">Adobe illustrator</li>
            <li style="list-style-type: circle">Adobe Photoshop</li>
            <li style="list-style-type: circle">Blender (3d model)</li>
            <li style="list-style-type: circle">
              Fusion 360 (3d printing model)
            </li>
            <li style="list-style-type: circle">Roblox studio</li>
            <li style="list-style-type: circle">Git commands</li>
          </ul>
        </ion-item>
        <ion-item>
          You can buy my items (Bag & T-Shirt) via Line ID, Mobile number and
          Email address
        </ion-item>
        <ion-item>
          <ul>
            <li style="list-style-type: square">Line id: namo_kung</li>
            <li style="list-style-type: square">Mom: 096-232-8245</li>
            <li style="list-style-type: square">Dad: 083-491-5645</li>
            <li style="list-style-type: square">
              nakrit.thomthitchong@gmail.com
            </li>
          </ul>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/father_day.png" />
    <img alt="Ultranamo" src="./assets/images/original_father_day.png" />
    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_35_31.png"
    />
    <ion-card-header>
      <ion-card-title>Project 12: Father day BTD school.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content>16 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/sell_items/515217.jpg" />
    <img alt="Ultranamo" src="./assets/images/sell_items/8495324.jpg" />
    <img
      alt="Ultranamo"
      src="./assets/images/sell_items/2565-12-20_00_16_24.png"
    />
    <img
      alt="Ultranamo"
      src="./assets/images/sell_items/2565-12-20_00_15_19.png"
    />
    <img
      alt="Ultranamo"
      src="./assets/images/sell_items/2565-12-20_00_15_43.png"
    />

    <ion-card-header>
      <ion-card-title>Summer project 11: Bag and T-Shirt</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content>Bag: 200 THB., T-Shirt: 300 THB.</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/line_sticker/all_stickers.png" />

    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_18_34.png"
    />
    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_17_31.png"
    />
    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_16_52.png"
    />

    <ion-card-header>
      <ion-card-title>Summer project 10: Design Line sticker</ion-card-title>
      <ion-card-subtitle
        >Because I need a new mouse gaming (500 THB), if I can sell in Line
        sticker official.</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content> 3 weeks</ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_204144.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_210039.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 2</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_210059.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 3</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_210115.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 4</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_211405.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 5</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_215437.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 6</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="./assets/images/drawing_line_sticker/20221020_215443.jpg" />
        </ion-thumbnail>
        <ion-label>My drawing pic 7</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/aia.png" />
    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_18_55.png"
    />
    <ion-card-header>
      <ion-card-title>Summer project 9: AIA logo for team</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 3 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/solo-leveling-colored.png" />
    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_19_47.png"
    />
    <ion-card-header>
      <ion-card-title
        >Summer project 8: Solo Leveling (illustrator)</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 24 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/dragon-by-wacom.png" />
    <img alt="Ultranamo" src="./assets/images/drawing/20220926_124413.jpg" />
    <img
      alt="Ultranamo"
      src="./assets/images/drawing/2565-12-20_00_19_30.png"
    />
    <ion-card-header>
      <ion-card-title>Summer project 7: Dragon (illustrator)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 40 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/thailand.png" />
    <ion-card-header>
      <ion-card-title>Summer project 6: Thailand (illustrator)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 12 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/dino-cute.jpg" />
    <img alt="Ultranamo" src="./assets/images/drawing/2022-10-06.png" />
    <ion-card-header>
      <ion-card-title>Summer project 5: Dino (illustrator)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 4 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/mask02.png" />
    <img alt="Ultranamo" src="./assets/images/drawing/2565-12-19.png" />
    <ion-card-header>
      <ion-card-title>Summer project 4: Mask (illustrator)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 4 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/cover-science-book.jpg" />
    <ion-card-header>
      <ion-card-title>Summer project 3: Cover book (Photoshop)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 8 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/tylenol_box.jpg" />
    <ion-card-header>
      <ion-card-title>Summer project 2: Tylenol box (Photoshop)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 6 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/ferrero_ball.jpg" />
    <img alt="Ultranamo" src="./assets/images/drawing/2022-10-03.png" />
    <ion-card-header>
      <ion-card-title
        >Summer project 1: Ferrero ball (Photoshop)</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 12 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/namo_works/12.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/8.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/9.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/1.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/4.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/5.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/6.png" />
    <ion-card-header>
      <ion-card-title>Craft and 3D model</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 24 hours</ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Ultranamo" src="./assets/images/namo_works/3.png" />
    <img alt="Ultranamo" src="./assets/images/namo_works/2.png" />

    <ion-card-header>
      <ion-card-title>Plant and Solar-cell tower</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content> 48 hours</ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
